<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hiberntate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		<!--  Impostazioni per la connessiona la database -->
		<property name = "connection.driver_class">com.myslq.jdbc.Driver</property>
		<property name = "connection.url">jdbc:mysql://localhost/MyTalk</property>
		<property name = "connection.username">root</property>
		<property name = "connection.password">root</property>
		
		<!--  Pool di connessioni JDBC verso il database -->
		<!--  Per i test lasciare una singola connessione, aumentare quando definitivo -->
		<property name = "connection.pool_size">1</property>
		 
		<!-- Dialettica SQL generata -->
		<property name = "dialect">org.hibernate.dialect.MySQLDialect</property>
		 
		<!-- Abilitazione della gestione del contesto delle sessioni -->
		<property name = "current_session_context_class">thread</property>
		
		<!-- Disabilitazione della cache di secondo livello -->
		<property name = "cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		 
		<!-- Visualizzazione del codice SQL generato nella console -->
		<property name = "show_sql">true</property>
		 
		<!-- Validazione dello schema del database -->
		<property name = "hbm2ddl.auto">update</property>
		 
		<!-- File di mapping tra Transfer Object ed entità del database -->
	</session-factory>
</hibernate-configuration>