# Estensioni di file da escludere dai commit di Git
*.log
*.aux
*.toc
*.out
*.txt
*.gz
*.synctex
*.synctex.gz
*.DS_Store
*.lot
*.lof
*.pdf
*~
*.fdb_latexmk
\Sources\ModelManager\.classpath
/Sources/ModelManager/.classpath
/Sources/*/bin
*.tex.swp
!Revisioni/*/*.pdf
!Revisioni/*/*/*.pdf