# Estensioni di file da escludere dai commit di Git
*.log
*.aux
*.toc
*.out
*.txt
*.gz
*.synctex
*.synctex.gz
*.DS_Store
*.lot
*.lof
*.pdf
*~
*.fdb_latexmk
.classpath
/Sources/*/bin
*.tex.swp
!Revisioni/*/*.pdf
!Revisioni/*/*/*.pdf
.kate-swp
*.war

Sources/ModelManager/WebContent/clientpresenter/guicontrol/AddressBookPanelPresenter.js

Sources/ModelManager/UnitTest/org/softwaresynthesis/mytalk/clientpresenter/guicontrol/index.html

Documents/manuale_di_installazione/manuale_di_installazione.synctex.gz(busy)

Documents/manuale_di_installazione/manuale_di_installazione.tex

Sources/ModelManager/WebContent/.project

Sources/ModelManager/WebContent/indexProvaTres.html
