<?xml version = "1.0" encoding = "UTF-8"?>
<web-app 	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
			xmlns = "http://java.sun.com/xml/ns/javaee" 
			xmlns:web = "http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			xsi:schemaLocation = "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
			version = "3.0">
  	<display-name>MyTalk</display-name>
  	
  	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>
  	
  	<!-- DEFINZIONE DELLE SERVLET DI LOGIN-->
  	<servlet>
  		<servlet-name>Login</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.authentication.servlet.LoginServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>Logout</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.authentication.servlet.LogoutServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>Register</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.authentication.servlet.RegisterServlet</servlet-class>
  	</servlet>
  	
  	<!-- DEFINIZIONE DELLE SERVLET PER LA GESTIONE DELLA RUBRICA PERSONALE -->
  	
  	<servlet>
  		<servlet-name>getContacts</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookGetContactsServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>addContact</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoAddContactServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>removeContact</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoRemoveContactServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>addInGroup</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoInsertInGroupServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>removeFromGroup</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoRemoveFromGroupServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>createGroup</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoCreateGroupServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>deleteGroup</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoDeleteGroupServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>blockContact</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoBlockServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>unblockContact</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoUnblockServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>getGroups</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookGetGroupsServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>searchContact</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.abook.servlet.AddressBookDoSearchServlet</servlet-class>
  	</servlet>
	
	<!-- DEFINZIONE DELLE SERVLET DI SEGRETERIA-->
  	<servlet>
  		<servlet-name>AddMessageSegreteria</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.message.servlet.AddMessageServlet</servlet-class>
  	</servlet>
	
	<servlet>
  		<servlet-name>DeleteMessageSegreteria</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.message.servlet.DeleteMessageServlet</servlet-class>
  	</servlet>
	
	<servlet>
  		<servlet-name>GetMessageSegreteria</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.message.servlet.GetMessagesServlet</servlet-class>
  	</servlet>
	
	<servlet>
  		<servlet-name>UpdateMessageSegreteria</servlet-name>
  		<servlet-class>org.softwaresynthesis.mytalk.server.message.servlet.UpdateMessageServlet</servlet-class>
  	</servlet>
	
	<!-- DEFINZIONE DELLE SERVLET DI LISTA CHIAMATE-->
  	<servlet>
  		<servlet-name>GetCallsListServlet</servlet-name>
  		<servlet-class>package org.softwaresynthesis.mytalk.server.call.servlet.GetCallServlet</servlet-class>
  	</servlet>
  	
  	<!-- MAPPING DELLE SERVLET CON GLI URL PER IL LOGIN -->
  	
  	<servlet-mapping>
    	<servlet-name>Login</servlet-name>
    	<url-pattern>/LoginAuthentication</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>Logout</servlet-name>
    	<url-pattern>/LoginClose</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>Register</servlet-name>
  		<url-pattern>/LoginDoRegistration</url-pattern>
  	</servlet-mapping>
  	
  	<!-- MAPPING DELLE SERVLET CON GLI URL PER LA GESTIONE RUBRICA -->
  	
  	<servlet-mapping>
  		<servlet-name>getContacts</servlet-name>
  		<url-pattern>/AddressBookGetContacts</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>addContact</servlet-name>
  		<url-pattern>/AddressBookDoAddContact</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>removeContact</servlet-name>
  		<url-pattern>/AddressBookDoRemoveContact</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>addInGroup</servlet-name>
  		<url-pattern>/AddressBookDoInsertInGroup</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>removeFromGroup</servlet-name>
  		<url-pattern>/AddressBookDoRemoveFromGroup</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>createGroup</servlet-name>
  		<url-pattern>/AddressBookDoCreateGroup</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>deleteGroup</servlet-name>
  		<url-pattern>/AddressBookDoDeleteGroup</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>blockContact</servlet-name>
  		<url-pattern>/AddressBookDoBlock</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>unblockContact</servlet-name>
  		<url-pattern>/AddressBookDoUnblock</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>getGroups</servlet-name>
  		<url-pattern>/AddressBookGetGroups</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>searchContact</servlet-name>
  		<url-pattern>/AddressBookDoSearch</url-pattern>
  	</servlet-mapping>
	
	<!-- MAPPING DELLE SERVLET CON GLI URL PER LA SEGRETERIA -->
  	
  	<servlet-mapping>
    	<servlet-name>AddMessageSegreteria</servlet-name>
    	<url-pattern>/AddMessage</url-pattern>
  	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>DeleteMessageSegreteria</servlet-name>
    	<url-pattern>/DeleteMessage</url-pattern>
  	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>GetMessageSegreteria</servlet-name>
    	<url-pattern>/GetMessages</url-pattern>
  	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>UpdateMessageSegreteria</servlet-name>
    	<url-pattern>/UpdateMessage</url-pattern>
  	</servlet-mapping>
	
	<!-- MAPPING DELLE SERVLET CON GLI URL PER LA LISTA CHIAMATE -->
  	
  	<servlet-mapping>
    	<servlet-name>GetCallsListServlet</servlet-name>
    	<url-pattern>/GetCallsList</url-pattern>
  	</servlet-mapping>
	
</web-app>