/*
 Regole di stile per il corpo della pagina
 */
body {
	background-color: #BDBDC5;
	font-family: sans-serif, Verdana, Helvetica;
	margin: 0;
	padding: 0;
}

/*
 Regole di stile per i contenuti della pagina web
 */
#PageContainer {
	text-align: center;
}

/*
 Regole di stile per disegnare l'intestazione della pagina web
 */
#PageHeader {
	width: 1100px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	background: url(../Image/Configuration/PageHeader.png) 0 0 no-repeat;
}

/*
 Regole di stile per il disegnare il menù principale
 */
#MainMenu {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E9E9EA;
}

#MainMenu ul {
	margin: 0;
	padding: 0.5em 0;
	text-align: center;
	font-size: 0.9em;
}

#MainMenu li {
	display: inline;
	white-space: nowrap;
	padding: 0 2em;
	border-left: 1px solid #BDBDC5;
}

#MainMenu > ul > li:first-child {
	border-left: none;
}

#MainMenu li:hover {
	background-color: #BDBDC5;
	color: #000000;
}

#MainMenu a:active, #MainMenu a:focus, #MainMenu a:hover, #MainMenu a:link, #MainMenu a:visited {
	background-color: #inherit;
	color: #000000;
	text-decoration: none;
}

/*
 Regole di stile per il corpo della pagina
 */
#PageBody {
	text-align: left;
	width: 1100px;
	margin: 15px auto;
	overflow: hidden;
	background: url(../Image/Configuration/PageBody.png) 0 0 repeat-y;
}

/*
 Regole di stile per la colonna sinistra del corpo della pagina
 */
#PageBodyColumnLeft {
	text-align: inherit;
	width: 250px;
	float: left;
	background-color: transparent;
}

#PageBodyColumnLeft p {
	padding-left: 15px;
}

#PageBodyColumnLeft ul {
	font-size: 0.9em;
	margin: 0 auto;
	padding: 5px 15px;
}

#PageBodyColumnLeft li {
	display: block;
	padding: 5px 0;
}

#PageBodyColumnLeft h3 {
	padding-left: 10px;
}

#PageBodyColumnLeft li > a:active, #PageBodyColumnLeft li > a:focus, #PageBodyColumnLeft li > a:hover, #PageBodyColumnLeft li > a:link, #PageBodyColumnLeft li > a:visited {
	text-decoration: underline;
	color: #000000;
}

/*
 Regole di stile per la colonna destra del corpo della pagina
 */
#PageBodyColumnRight {
	text-align: inherit;
	width: 820px;
	float: left;
	margin: 15px;
	background-color: #transparent;
}

#PageBodyColumnRight a:active, #PageBodyColumnRight a:focus, #PageBodyColumnRight a:hover, #PageBodyColumnRight a:link, #PageBodyColumnRight a:visited {
	text-decoration: underline;
	color: #000000;
}

/*
 Regole di stile per il più di pagina della pagina web
 */
#PageFooter {
	width: 1100px;
	margin: 0 auto;
	padding: 10px auto;
	text-align: center;
	background-color: #E9E9EA;
	color: #000000;
}

#PageFooter p {
	font-size: 0.9em;
	padding: 10px 0;
	color: inherit;
}

/*
 Regole di stile per la visualizzazione delle tabelle
 */
.Table {
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}

.Table tr {
	height: 40px;
	min-height: 40px;
	border: 1px solid #BDBDC5;
}

.Table tr:hover {
	background-color: #E9E9EA;
}

.Table tr:first-child:hover {
	background-color: inherit;
}

.Table td {
	width: 180px;
}

.Table th.option {
	width: 300px;
}

.Table a:active, .Table a:focus, .Table a:hover, .Table a:link, .Table a:visited {
	font-size: 0.9em;
	text-decoration: underline;
	color: #000000;
}

/*
 Regole di stile per le pagine di add
 */
#PageBodyColumnRight ul{
	text-align: left;
	margin:0;
	padding:0;
	list-style-position: inside;
	list-style-type: none;
	font-size: 1em;
	margin-bottom: 2em;
}
#PageBodyColumnRight ul ul{
	font-size: 0.8em;
}

#PageBodyColumnRight li span.label{
	margin-right: 0.8em;
	text-decoration: underline;
}

#PageBodyColumnRight li{
	margin-top: 1em;
	margin-left: 1em;
}

/*
 Regole di stile per i messaggi di errore
 */
.Error {
	font-weight: bold;
	color: #800000;
	font-size: 1.1em;
}

.info{
	font-weight: bold;
	color: #008A2E;
	font-size: 1.1em;
}
