html, body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #FFEBCD;
    font-size: 10pt;
}

/*header*/
header {
    margin-top: 0px;
    width: 100%;
    height: 41px;
    background-image: url("img/header.png");
    background-repeat: repeat-x;
}

header img {
    width: 120px;
}

#menu_head input[type=submit] {
    float: right;
    color: #00BFFF;
    margin-top: -10px;
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(250,250,250,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#menu_head {
    float: right;
    margin-right: 2%;
}

#menu_head ul {
    list-style-type: none;
}

#menu_head ul li {
    display: inline;
}
/*end header*/

/*footer*/
footer {
    margin bottom: 0px;
    position: absolute;
    width: 100%;
    height: 41px;
    background-image: url("img/footer.png");
    background-repeat: repeat-x;
}

footer img {
    margin: 0%;
    float: right;
    height: 41px;
    width: 15%;
}
/*end footer*/

/*LoginPanel*/

/*Immagine di contenuto MyTalk schermata Login*/
#logo {
    width: 568px;
    height: 166px;
    margin: auto;
    background-image: url("img/mytalk.png");
    background-repeat: no-repeat;
}
/*end logo*/

#LoginPanel {
    width: 30%;
    margin-top: 2%;
    margin-left: 32%;
    margin-bottom: 10%;
    padding: 1%;
    background-color: rgba(250,250,250,0.5);
    border-radius: 5%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* a cosa servono questi?
 #userpass {
 list-style: none;
 padding: ;
 margin: 0;
 }

 #dati {
 margin-top: 5%;
 margin-left: 15%;

 }
 */

#LoginPanel button:[type=submit] {
padding: 5px 10px;
margin-top: 12%;
margin-left: 2%;
border-radius: 10px;
box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

#LoginPanel button:not([type=submit]) {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; /* Old browsers */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 10px;
    margin-top: 12%;
    margin-left: 2%;
    border-radius: 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

/*end Login*/

/*RegisterPanel*/
#RegisterPanel {
    display: none;
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    margin-bottom: 10%;
    padding: 1%;
    background-color: rgba(250,250,250,0.5);
    border-radius: 5%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#RegisterPanel input:not([type=submit]) {
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}

#RegisterPanel input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; /* Old browsers */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 30px;
    margin-top: 15%;
    margin-left: 7%;
    border-radius: 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
/* end RegisterPanel */

/*MainPanel*/
#MainPanel {
    display: none;
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url("img/mytalk.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    padding-bottom: 20%;
    background-position: 50% 90%;
    filter: alpha(opacity=40);
    -moz-opacity: .40;
    opacity: .40;
}

#MainPanel h1 {
    padding-left: 15%;
}

/*end Main Panel*/

/*AddressBookPanel*/
#AddressBookPanel {
    display: none;
    float: left;
    width: 17%;
    border: 2px solid rgba(0, 0, 0, 1);
    background-color: #F0E68C;
}

#AddressBookPanel h1 {
    margin: 0;
    font: Verdana;
    color: #FFEBCD;
    /***  CSS Gradient  ***/
    /*  Chrome 1-9 and Safari 4-5.0  */
    background-image: -webkit-gradient(linear, left top, right top,
    color-stop( 0.0, rgba(97, 50, 11, 1.000) ),
    color-stop( 0.184, rgba(93, 49, 31, 1.000) ),
    color-stop( 0.441, rgba(129, 66, 41, 1.000) ),
    color-stop( 0.500, rgba(129, 66, 41, 1.000) ),
    color-stop( 0.800, rgba(93, 49, 31, 1.000) ),
    color-stop( 0.900, rgba(93, 49, 31, 1.000) ),
    color-stop( 1.0, rgba(132, 67, 43, 1.000) ));
    /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
    background-image: -webkit-linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
    /*  Firefox 3.6+  */
    background-image: -moz-linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
    /*  IE 10+  */
    background-image: -ms-linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
    /*  Opera 11.10+  */
    background-image: -o-linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
    /*  W3C  */
    background-image: linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
    padding-left: 25%;
}
#AddressBookPanel p {
    background-color: #F0E68C;
}

#AddressBookPanel input[type=search] {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}

#AddressBookPanel input[type=image] {
    border-radius: 5px;
}
/*end AddressBookPanel*/

/*ToolsPanel*/
#ToolsPanel {
    display: none;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    float: right;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-left: 2%;
    background-image: url("img/tools_pattern.png");
}

#ToolsPanel h1 {
    margin: 0;
    font: Verdana;
    color: #F0E68C;
}

#function {
    list-style: none;
    color: #F0E68C;
    margin-top: 50px;
}

#butt1 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

#butt2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
    padding-right: 28px;
}

#butt3 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 52px;
    padding-right: 52px;
}

#butt4 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
}

#state fieldset {
    color: #F0E68C;
}

#state {
    margin-top: 25px;
}

#pallina {
    width: 20px;
}

#state select {
    margin-left: 10px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

/*end ToolsPanel*/

/*CallHistoryPanel*/
#CallHistoryPanel {
    padding: 0px;
    margin-left: 30%;
}

#CallHistoryPanel table {
    border: solid #000000;
}

/*end CallHistoryPanel*/

/*CallHistoryPanel*/
#CallHistoryPanel {
    margin-left: 30%;
}

#CallHistoryPanel table {
    margin-left: 5%;
    margin-top: 5%;
}

#CallHistoryPanel table th {
    border: solid #000000;
    margin-left: 15%;
}

#CallHistoryPanel h1 {
    padding-left: 5%;
}

/*end CallHistoryPanel*/

/*CommunicationPanel*/

#CommunicaitonPanel {
    border: 2px solid balck;
}
#profile {
    margin-bottom: 5%;
    margin-top: 5%;
}

#chat {
    margin-top: 5%;
    margin-bottom: 5%;
}

#CommunicationPanel {
    padding: 0px;
    margin-left: 20%;
}

#CommunicationPanel h1 {
    padding-left: 15%;
}
/*end CommunicationPanel*/

/*AccountSettingPanel*/
#AccountSettingPanel ul {
    list-style-type: none;
}

#AccountSettingPanel {
    padding-left: 24%;
}
#AccountSettingPanel h1 {
    padding-left: 13%;
}
/*end AccountSettingPanel*/

/*ContactPanel*/
#ContactPanel ul {
    list-style-type: none;
}

#ContactPanel {
    padding-left: 25%;
}
#ContactPanel h1 {
    padding-left: 10%;
}
/*end ContactPanel*/

