html, body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFEBCD;
    font-size: 0.9em;
}

input[type=submit], button[type=submit] {
    color: #00AA99;
    font-size: 1em;
    border-radius: 5px;
    /*inizio da controllare     FIXME*/
    background-color: rgba(255,200,120,1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    /*fine da controllare*/
    margin: 0em 0.5em 0em 0.5em;
}
input[type=submit]:hover, button[type=submit]:hover, input[type=submit]:focus, button[type=submit]:focus {
    /*FIXME*/
    background-color: rgba(200,100,150,1);
}
input[type=submit]:active, button[type=submit]:active {
    /*FIXME*/
    background-color: rgba(135,20,100,1);
}

input[type=text], input[type=email], input[type=password] {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
}

/*header*/
header {
    width: 100%;
    height: 41px;
    background: url("img/header.png") repeat top;
}
header img {
    height: 35px;
}
button.help {
    padding: 0.3em 1em 0.3em 1em;
}
#menu_head {
    float: right;
    margin-right: 1em;
    margin-top: 0.3em;
}
/*end header*/

/*footer*/
footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    margin-top: 1em;
    background: url("img/logo_foot.png") no-repeat bottom right, url("img/footer.png") repeat-x bottom;
}
/*end footer*/

/*********************************
 ***********LoginPanel************
 *********************************/
/*logo login*/
#logo {

    width: 568px;
    height: 166px;
    margin: auto;
    background-image: url("img/mytalk.png");
    background-repeat: no-repeat;
}
/*end logo*/

#LoginPanel {
    width: 30em;
    margin: auto;
    margin-top: 3em;
    /*da sistemare colori e ombre FIXME*/
    background-color: rgba(250,250,250,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*fine da sistemare*/
    border-radius: 20px;
    text-align: right;
    font-size: 18pt;
    margin-bottom: 60px;
}
#LoginPanel input[type=text], #LoginPanel input[type=email], #LoginPanel input[type=password] {
    padding: 3px 10px 3px 10px;
    font-size: 20pt;
    width: 15em;
}
#LoginPanel fieldset {
    border: 0;
}
#LoginPanel ul {
    list-style: none;
    margin: 0;
    margin-right: 2em;
    padding: 0;
}
#LoginPanel li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
#passwordretrieval {
    text-align: center;
}
/*end Login*/

/*********************************
 *********RegisterPanel***********
 *********************************/
#RegisterPanel {
    display: none;
    width: 35em;
    margin: auto;
    margin-top: 3em;
    padding: 1em 0em 1em 0em;
    /*da sistemare colori e ombre FIXME*/
    background-color: rgba(250,250,250,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*fine da sistemare*/
    border-radius: 20px;
    text-align: right;
    font-size: 14pt;
    margin-bottom: 60px;
}
#RegisterPanel input[type=text], #RegisterPanel input[type=email], #RegisterPanel input[type=password] {
    padding: 3px 10px 3px 10px;
    font-size: 16pt;
    width: 15em;
}
#RegisterPanel input[type=file] {
    padding: 3px 10px 3px 10px;
    font-size: 12pt;
    width: 20em;
}
#RegisterPanel div {
    margin-right: 12em;
}
#RegisterPanel ul {
    list-style: none;
    margin: 0;
    margin-right: 2em;
    padding: 0;
}
#RegisterPanel li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/********************************************************************************************************************************
 ********************************************************************************************************************************
 ********************************************************************************************************************************
 ********************************************************************************************************************************
 ********************************************************************************************************************************
 ********************************************************************************************************************************
 ********************************************************************************************************************************
 ********************************************************************************************************************************/

/*MainPanel*/
#MainPanel {
    display: none;
    height: 100%;
    filter: alpha(opacity=25);
    -moz-opacity: .25;
    opacity: .25;
    background: url("img/mytalk.png") center no-repeat;
    margin-bottom: 60px;
}

#MainPanel h1 {
    padding-left: 15%;
}

/*end Main Panel*/

/*AddressBookPanel*/
#AddressBookPanel {
    display: none;
    float: left;
    width:20em;
    overflow: scroll;
    /*da sistemare bordi e colori FIXME*/
    border: 1px solid rgba(100, 100, 100, 1);
    background-color: #F0E68C;
    border-radius: 0px 10px 10px 0px;
    /*fine da sistemare*/
    margin: 0.1em 1em 0.1em 0em;
}

#AddressBookPanel h1 {
    margin: 0;
    color: #FFEBCD;
    /***  CSS Gradient  ***/
    /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
    background-image: -webkit-linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
    /*  Firefox 3.6+  */
    background-image: -moz-linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
}
#AddressBookPanel p {
    background-color: #F0E68C;
}

#AddressBookPanel input[type=search] {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}

#AddressBookPanel input[type=image] {
    border-radius: 5px;
}
/*end AddressBookPanel*/

/*ToolsPanel*/
#ToolsPanel {
    display: none;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    float: right;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-left: 2%;
    background-image: url("img/tools_pattern.png");
}

#ToolsPanel h1 {
    margin: 0;
    font: Verdana;
    color: #F0E68C;
}

#function {
    list-style: none;
    color: #F0E68C;
    margin-top: 50px;
}

#butt1 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

#butt2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
    padding-right: 28px;
}

#butt3 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 52px;
    padding-right: 52px;
}

#butt4 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
}

#state fieldset {
    color: #F0E68C;
}

#state {
    margin-top: 25px;
}

#pallina {
    width: 20px;
}

#state select {
    margin-left: 10px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

/*end ToolsPanel*/

/*CallHistoryPanel*/
#CallHistoryPanel {
    padding: 0px;
    margin-left: 30%;
}

#CallHistoryPanel table {
    border: solid #000000;
}

/*end CallHistoryPanel*/

/*CallHistoryPanel*/
#CallHistoryPanel {
    margin-left: 30%;
}

#CallHistoryPanel table {
    margin-left: 5%;
    margin-top: 5%;
}

#CallHistoryPanel table th {
    border: solid #000000;
    margin-left: 15%;
}

#CallHistoryPanel h1 {
    padding-left: 5%;
}

/*end CallHistoryPanel*/

/*CommunicationPanel*/

#CommunicaitonPanel {
    border: 2px solid balck;
}
#profile {
    margin-bottom: 5%;
    margin-top: 5%;
}

#chat {
    margin-top: 5%;
    margin-bottom: 5%;
}

#CommunicationPanel {
    padding: 0px;
    margin-left: 20%;
}

#CommunicationPanel h1 {
    padding-left: 15%;
}
/*end CommunicationPanel*/

/*AccountSettingPanel*/
#AccountSettingPanel ul {
    list-style-type: none;
}

#AccountSettingPanel {
    padding-left: 24%;
}
#AccountSettingPanel h1 {
    padding-left: 13%;
}
/*end AccountSettingPanel*/

/*ContactPanel*/
#ContactPanel ul {
    list-style-type: none;
}

#ContactPanel {
    padding-left: 25%;
}
#ContactPanel h1 {
    padding-left: 10%;
}
/*end ContactPanel*/

