@charset "UTF-8";

html, body {
    min-width: 900px;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFEBCD;
    font-size: 0.9em;
}

/*Bottoni [SUBMIT] personalizzati*/
input[type=submit], button[type=submit] {
    color: #111;
    font-size: 1em;
    border-radius: 5px;
    /*inizio da controllare     FIXME*/
    background-color: rgba(40,150,230,1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    /*fine da controllare*/
    margin: 0.1em 0.5em 0.1em 0.5em;
}
input[type=submit]:hover, button[type=submit]:hover, input[type=submit]:focus, button[type=submit]:focus {
    /*FIXME*/
    background-color: rgba(40,90,230,1);
}
input[type=submit]:active, button[type=submit]:active {
    /*FIXME*/
    background-color: rgba(40,60,230,1);
}

/*Bottoni personalizzati*/
input[type=button], button[type=button] {
    color: #222;
    font-size: 1em;
    border-radius: 5px;
    /*inizio da controllare     FIXME*/
    background-color: rgba(40,150,230,1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    /*fine da controllare*/
    margin: 0.1em 0.5em 0.1em 0.5em;
}
input[type=button]:hover, button[type=button]:hover, input[type=button]:focus, button[type=button]:focus {
    /*FIXME*/
    background-color: rgba(40,90,230,1);
}
input[type=button]:active, button[type=button]:active {
    /*FIXME*/
    background-color: rgba(40,60,230,1);
}

/*TextBox personalizzate*/
input[type=text], input[type=email], input[type=password] {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
}
select {
    margin: 2px 0px 2px 2px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    -webkit-appearance: none;
    background: url("img/new_arrow.png") no-repeat right #ddd;
}

/*header*/
header {
    width: 100%;
    height: 41px;
    background: url("img/header.png") repeat top;
}
header img {
    height: 35px;
}
button.help {
    padding: 0.3em 1em 0.3em 1em;
}
#menu_head {
    float: right;
    margin-right: 1em;
    margin-top: 0.3em;
}
/*end header*/

/*footer*/
footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    margin-top: 1em;
    background: url("img/logo_foot.png") no-repeat bottom right, url("img/footer.png") repeat-x bottom;
}
/*end footer*/

/*********************************
 ***********LoginPanel************
 *********************************/
/*logo login*/
#logo {
    width: 568px;
    height: 166px;
    margin: auto;
    background-image: url("img/mytalk.png");
    background-repeat: no-repeat;
}
/*end logo*/
#LoginPanel {
    display: block;
    width: 30em;
    margin: auto;
    margin-top: 3em;
    /*da sistemare colori e ombre FIXME*/
    background-color: rgba(250,250,250,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*fine da sistemare*/
    border-radius: 20px;
    text-align: right;
    font-size: 18pt;
    margin-bottom: 60px;
}
#LoginPanel input[type=text], #LoginPanel input[type=email], #LoginPanel input[type=password] {
    padding: 3px 10px 3px 10px;
    font-size: 20pt;
    width: 15em;
}
#LoginPanel input[type=text].error, #LoginPanel input[type=email].error, #LoginPanel input[type=password].error {
    background-color: rgba(230,0,0,0.5);
}
#LoginPanel fieldset {
    border: 0;
}
#LoginPanel ul {
    list-style: none;
    margin: 0;
    margin-right: 2em;
    padding: 0;
}
#LoginPanel li {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
#passwordretrieval {
    text-align: center;
}
/*end Login*/

/*********************************
 *********RegisterPanel***********
 *********************************/
#RegisterPanel {
    display: block;
    width: 35em;
    margin: auto;
    margin-top: 3em;
    padding: 1em 0em 1em 0em;
    /*da sistemare colori e ombre FIXME*/
    background-color: rgba(250,250,250,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*fine da sistemare*/
    border-radius: 20px;
    text-align: right;
    font-size: 14pt;
    margin-bottom: 60px;
}
#RegisterPanel input[type=text], #RegisterPanel input[type=email], #RegisterPanel input[type=password] {
    padding: 3px 10px 3px 10px;
    font-size: 16pt;
    width: 15em;
}
#RegisterPanel input[type=file] {
    padding: 3px 10px 3px 10px;
    font-size: 12pt;
    width: 20em;
}
#RegisterPanel div {
    margin-right: 12em;
}
#RegisterPanel ul {
    list-style: none;
    margin: 0;
    margin-right: 2em;
    padding: 0;
}
#RegisterPanel li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
#RegisterPanel li.RequireData {
    margin-top: 3.3em;
    margin-bottom: 0.3em;
}

#RegisterPanel .requireData {
    margin: 1em 0.5em 1em 0.5em;
    font-size: 0.6em;
}
/**********************/
/******MainPanel*******/
/**********************/
#MainPanel {
    display: block;
    height: 100%;
    /*filter: alpha(opacity=25);
     -moz-opacity: .25;
     opacity: .25;*/
    /*background: url("img/mytalk.png") center no-repeat;*/
    margin: 30px 21em 60px 21em;
    /*FIXME!!!!! errore visualizzazione */
}
#MainPanel .panelHeader {
    text-align: center;
}
#MainPanel .panelHeader h1 {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(20,80,120);
}
/*end Main Panel*/

/************************/
/****AddressBookPanel****/
/************************/
#AddressBookPanel {
    display: block;
    float: left;
    width: 20em;
    /*da sistemare bordi e colori FIXME*/
    /*overflow: visible;
     overflow-y: scroll;
     overflow-x: visible;*/
    border: 1px solid rgba(100, 100, 100, 1);
    background-color: #F0E68C;
    border-radius: 0px 10px 10px 0px;
    /*fine da sistemare*/
    margin: 0.5em 0em 0.5em 0em;
}
#AddressBookPanel h1 {
    margin: 0;
    text-align: center;
    color: #FFEBCD;
    /***  CSS Gradient  ***/
    /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
    background-image: -webkit-linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
    /*  Firefox 3.6+  */
    background-image: -moz-linear-gradient(left,
    rgba(97, 50, 11, 1.000),
    rgba(93, 49, 31, 1.000) 18.4%,
    rgba(129, 66, 41, 1.000) 44.1%,
    rgba(129, 66, 41, 1.000) 50.0%,
    rgba(93, 49, 31, 1.000) 80.0%,
    rgba(93, 49, 31, 1.000) 90.0%,
    rgba(132, 67, 43, 1.000) );
    border-radius: 0px 10px 0px 0px;
}
#AddressBookPanel input[type=text] {
    margin: 2px 0px 2px 2px;
    padding: 2px 5px 2px 5px;
    font-size: 1em;
    width: 16em;
    border-radius: 5px 0px 0px 5px;
    vertical-align: bottom;
}
#AddressBookPanel input[type=image] {
    margin: 2px 2px 0px 0px;
    padding: 2px 5px 2px 5px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 18px;
}
#AddressBookPanel select {
    margin: 2px 0px 2px 2px;
    padding: 2px 5px 2px 5px;
    font-size: 1.1em;
    height: 1.5em;
    width: 98%;
    border-radius: 5px 5px 5px 5px;
    vertical-align: bottom;
    border: 1px solid rgba(100, 100, 100, 0.3);
    -webkit-appearance: none;
    background: url("img/new_arrow.png") no-repeat right #ddd;
}
#AddressBookPanel ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#AddressBookPanel li {
    display: block;
    padding: 0.1em 1em 0.1em 1em;
    background-image: -webkit-linear-gradient(left,
    rgba(100, 100, 100, 0.3),
    rgba(200, 200, 200, 0.3));
    border-collapse: collapse;
    border: 1px rgba(100, 100, 100, 0.3) solid;
    vertical-align: middle;
}
#AddressBookPanel li:hover, #AddressBookPanel li:focus {
    background-image: -webkit-linear-gradient(left,
    rgba(20, 20, 20, 0.3),
    rgba(150, 150, 150, 0.3));
}
#AddressBookPanel li:active {
    background-image: -webkit-linear-gradient(left,
    rgba(20, 20, 20, 0.7),
    rgba(150, 150, 150, 0.7));
}
#AddressBookPanel li > img {
    margin: 0px 2px 0px 2px;
    height: 2em;
    vertical-align: middle;
}
#AddressBookPanel li > img:last-child {
    float: right;
}
/*end AddressBookPanel*/

/**********************/
/*****ToolsPanel*******/
/**********************/
#ToolsPanel {
    display: block;
    color: #F0E68C;
    text-align: center;
    float: right;
    padding: 1em 0em 1em 2em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 5px 0px 0px 5px;
    /*da controllare FIXME*/
    background-image: url("img/tools_pattern.png");
    /*fine da controllare*/
    margin: 0.5em 0em 0.5em 0em;
    /*FIXME-webkit-border-image: url('img/bg_stitch.png') 9 repeat;
     border-image: url('img/bg_stitch.png') repeat;*/
}
#ToolsPanel h1 {
    margin: 0.5em 1em 0.5em 1em;
    color: #F0E68C;
}
#ToolsPanel ul {
    margin: 1em 0em 1em 0em;
    padding: 0;
    color: rgb(200,160,50);
    text-align: right;
    font-size: 1.5em;
    list-style: none;
}
#ToolsPanel li {
    padding: 0.3em 0.5em 0.3em 0em;
    border-radius: 0px 0px 0px 0px;
    background-color: #FFF;
    border: 1px solid rgba(100,100,100,0.3);
}
#ToolsPanel li:first-child {
    border-radius: 4px 0px 0px 0px;
}
#ToolsPanel li:last-child {
    border-radius: 0px 0px 0px 4px;
}
#ToolsPanel li:only-child {
    border-radius: 4px 0px 0px 4px;
}
#ToolsPanel li:hover, #ToolsPanel li:focus {
    background-color: rgba(245,245,245,0.8);
}
#ToolsPanel li:active {
    background-color: rgba(245,245,245,0.6);
}
#selectState {
    margin-right: 1em;
    width: 10em;
}
/*end ToolsPanel*/

/******************/
/***ContactPanel***/
/******************/
#displayBlockedDiv {
    width: auto;
    height: 2em;
    margin: 1em 2em 1em 2em;
    background: rgba(110,0,0,0.6);
    color: rgb(140,165,195);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    vertical-align: middle;
}
#ContactPanel ul {
    font-size: 1.3em;
    margin: 1em;
    padding: 0;
    list-style-type: none;
}
#ContactPanel li {
    padding: 0.3em 0em 0.3em 0em;
}
#ContactPanel img {
	max-width: 250px;
	max-height: 250px;
    float: right;
    margin: 1em 5em 1em 1em;
}
.groupLabel {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background: rgba(73,214,111,0.4);
    border-radius: 2em;
    padding: 3px 4px 3px 10px;
    margin: 0.5em 1em 0.5em 0em;
}
.groupLabel img {
    height: 1.5em;
    margin: 0em 0em 0em 0.1em !important;
    padding: 0;
}
.groupLabel img:hover, .groupLabel img:focus {
}
.groupLabel img:active {
}
#buttonDiv {
    text-align: center;
    clear: right;
}
/*end ContactPanel*/

/**************/
/**GroupPanel**/
/**************/
#groupList {
    list-style: none;
    font-size: 2em;
}
#groupList {
    width: 90%;
    vertical-align: middle;
}
#groupList > li {
    min-height: 2.2em;
    background: rgba(8,8,8,0.1);
    margin-bottom: 0.5em;
}
#groupList ul {
    list-style: none;
    font-size: 0.5em;
    margin: 0.5em 0.5em 0em -2.7em;
}
#groupList ul li {
    height: 1.5em;
    background: #F0E68C;
}
#groupList ul li:hover, #groupList ul li:focus {
    background: #BAB059;
}
#groupList span {
    margin-left: 1em;
    font-size: 1.5em;
}
#groupList > li > img:first-child {
    float: left;
}
#groupList img {
    margin: 0.1em 0.5em 0.1em 0.5em;
    width: 1.1em;
    float: right;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
#groupList img:hover, #groupList img:focus {
    width: 1em;
}
#groupList img:active {
    width: 0.9em;
}
#groupList > li > * {
    margin-top: 0.5em;
}
ul.collapsedList {
    display: none;
    height: 0px;
}
ul.uncollapsedList {
    display: block;
    height: auto;
}
#GroupPanel fieldset {
    border: 0;
    margin: 0.2em 0.2em 0.2em 0.2em;
    background: rgba(100,100,100,0.4);
}
#GroupPanel label {
    display: inline;
}
.deleteContact {
    height: 1em;
}
.deleteContact :hover, .deleteContact :focus{
    height: 0.9em;
}
/*end GroupPanel*/

/***********************/
/**AccountSettingPanel**/
/***********************/
#AccountSettingsPanel {

}
#AccountSettingsPanel img {
    float: right;
    margin: 1em 5em 1em 1em;
}
#AccountSettingsPanel ul {
    font-size: 1.6em;
    margin: 1em;
    padding: 0;
    list-style-type: none;
}
#AccountSettingPanel li {
    padding: 0.3em 0em 0.3em 0em;
}
/*end AccountSettingPanel*/

/***********************************/
/********CommunicationPanel*********/
/***********************************/
#CommunicaitonPanel {
}
video {
    display: block;
}
#divCall {
    text-align: center;
}
#myVideo {
    max-height: 150px;
}
#otherVideo {
    width: 600px;
}
#closeButton {
    color: #333;
    font-size: 2em;
    border-radius: 5px;
    /*inizio da controllare     FIXME*/
    background-color: rgba(255,20,10,0.9);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    /*fine da controllare*/
    margin: 0.1em 0.5em 0.1em 0.5em;
}
#closeButton:hover, #closeButton:focus {
    background-color: rgba(230,20,10,0.9);
}
#closeButton:active {
    background-color: rgba(200,20,10,0.9);
}
#statDiv span {
    margin: 0em 0.5em 0em 0.5em;
}
/*Chat Div*/
#ulOpenChat {
    margin:0;
    padding:0;
    list-style: none;
}
#ulOpenChat li{
    display: inline-block;
    background-color: rgba(100,255,100,0.5);
    margin: 0.1em 0.2em 0em 0.2em;
    padding: 0.3em;
}
#ulOpenChat li:hover{
    background-color: rgba(255,100,100,0.5);
}
#ulOpenChat li:active, #ulOpenChat li.showed{
    background-color: rgba(100,100,255,0.5);
}
#divContainerChat {
    padding-top: 0.5em;
    background-color: rgba(100,100,255,0.5);
}
#divContainerChat textarea{
    display: block;
    resize: none;
    height: 10em;
    width: 65em;
    margin: 0em 0.5em 0.3em 0.5em;
}
#divContainerChat input[type=text]{
    margin: 0em 0.4em 0.6em 0.5em;
    width: 60em;
    height: 2em;
}
#divContainerChat button{
    margin: 0em 0.5em 0.6em 0em;
    width: 4.8em;
    height: 2em;
}
/*answerBox*/
#answerBox {
    z-index: 100;
    text-align: center;
    font-size: 2em;
}
#answerBox span {
    display: block;
}
#answerBox button {
    margin: 0.2em 0.2em 0.2em 0.2em;
}
#answerBox #nameCallerAnswerBox {
    font-size: 1.3em;
    font-weight: bolder;
    margin: 1em 0.5em 1em 0.5em;
}
#refuseCallButton {
    background-color: rgba(255,0,0,0.5);
}
#acceptCallButton {
    background-color: rgba(0,255,0,0.5);
}
#overlayAnswerBox {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}
/*end CommunicationPanel*/

/***********************************/
/*****PhoneCallsRegistryPanel*******/
/***********************************/
#PhoneCallRecorder {
    padding: 0.3em;
    border-radius: 1.5em;
    width: 20em;
    height: 4em;
    background: #FFEBCD;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10em;
    margin.top: -5em;
    z-index: 200;
}
/*end PhoneCallsRegistryPanel*/

/*************************************/
/*****PhoneIncomeCallAlertPanel*******/
/*************************************/
#IncomeCallAlert {
    padding: 0.3em;
    border-radius: 1.5em;
    width: 15em;
    height: 5em;
    background: #FFEBCD;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7.5em;
    margin.top: -5em;
    z-index: 200;
}
/*end PhoneCallsRegistryPanel*/

/***********************************/
/********CallHistoryPanel***********/
/***********************************/
#CallHistoryPanel {
    padding: 0px;
}

#ulHistory {
	list-style-type: none;
	font-size: 1em;
	width: 90%;
	vertical-align: middle;
}

#ulHistory > li {
	min-height: 2.2em;
	margin-bottom: 0.5em;
}

#ulHistory > li[class = 'outcome'] {
	background: rgba(51, 204, 0, 0.1);
}

#ulHistory > li[class = 'income'] {
	background: rgba(240, 0, 0, 0.1);
}
/*end CallHistoryPanel*/


/**********************************/
/*********MessagePanel*************/
/**********************************/
#messageList {
	list-style: none;
	font-size:	1em;
	width: 90%;
	vertical-align: middle;
}

#messageList > li {
	min-height:	2.2em;
	background: rgba(8,8,8,0.1);
	margin-bottom: 0.5em;
}

#messageList ul {
	list-style: none;
	font-size:	0.5em;
	margin: 0.5em 0.5em 0 -2.7em;
}

#messageList ul li {
	height: 1.5em;
	background: #F0E68C;
}

#messageList ul li:hover, #messageList ul li:focus {
	background: #BAB059;
}

#messageList span {
	margin-left: 1em;
	font-size: 1.5em;
}

#messageList > li > img:first-child {
	float: left;
}

#messageList img {
	margin: 0.1em 0.5em 0.1em 0.5em;
	width: 1.1em;
	float: right;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}

#messageList img:hover, #messageList img:focus {
	width: 1em;
}

#messageList img:active {
	width: 0.9em;
}

#messageList > li > * {
	margin-top: 0.5em;
}

#messageVideo {
	margin: 2em 0 2em 28%;
}
/*end MessagePanel*/

/************************************/
/**********Search********************/
/************************************/

#userList {
	list-style: none;
	font-size:	1em;
	width: 90%;
	vertical-align: middle;
}

#userList > li {
	min-height:	3em;
	background: rgba(8,8,8,0.1);
	margin-bottom: 0.5em;
	height: 1.5em;
	background: #F0E68C;
}

#userList ul {
	list-style: none;
	font-size:	0.5em;
	margin: 0.5em 0.5em 0 -2.7em;
}

#userList ul li:hover, #userList ul li:focus {
	background: #BAB059;
}

#userList span {
	margin-left: 1em;
	font-size: 1.5em;
}

#userList > li > img:first-child {
	float: left;
	min-height: 2em;
	min-width: 2em;
}

#userList img {
	margin: 0.1em 0.5em 0.1em 0.5em;
	width: 1.1em;
	float: right;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}

#userList img:hover, #userList img:focus {
	width: 1em;
}

#userList img:active {
	width: 0.9em;
}

#userList > li > * {
	margin-top: 0.5em;
}

/******end search*****/

#picture
{
	max-width:	250px;
	max-height:	250px;
}

#searchInputField {
	width: 90%;
	font-size: 2em;
	margin:	2em 0 0 0;
}

#searchInputButton {
	height:	36px;
}